---
import Clamp from "./Clamp.astro";
---

<header
  class="animate-fade-down bg-background/60 sticky top-0 z-20 h-14 border-b backdrop-blur after:backdrop-blur-xl motion-reduce:animate-none"
>
  <Clamp class="items-center">
    <h1>Antonia Schwennesen</h1>
    <nav class="ml-auto">
      <ul class="flex gap-4 text-xl md:text-lg">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/projects">Projects</a>
        </li>
      </ul>
    </nav>
  </Clamp>
</header>
